/* Calendar.css */

.fc-toolbar.fc-header-toolbar {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 16px;
  }
  
  .fc-toolbar .fc-toolbar-chunk {
    display: flex;
  }

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin: 0;
}

#fc-dom-86 {
    margin: 0 16px;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;  
    letter-spacing: -0.022px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .fc .fc-button-primary {
    background-color: #F9F9F8;
    border: none;
    color: #3E4148;
}

 /* .fc-button {
  width: 24px;
  height: 24px;
  padding: 0;
}

.fc .fc-icon {
  font-size: 3px; 
  line-height: 1; 
}

.fc-icon .fc-icon-chevron-right{
  width: 10px;
  height: 10px;
} */





.fc-header-toolbar {
  margin: 0;
}


  
  