/* src/styles/pagination.css */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.page-item {
    margin: 0 2px; /* 버튼 간의 간격 조정 */
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* 버튼의 너비 */
    height: 24px; /* 버튼의 높이 */
    color: #7A7D84; /* 기본 텍스트 색상 */
    text-decoration: none;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px; /* 버튼 텍스트 크기 */
    font-family: 'Roboto', sans-serif; /* 텍스트 폰트 설정 */
}

.page-link:hover{
    background-color: #e8e6e6;
}
.page-item.active .page-link {
    background-color: #4D55F5; /* 클릭 시 배경색 */
    color: white; /* 클릭 시 텍스트 색상 */
}

.page-item.disabled .page-link {
    color: #7A7D84;
    pointer-events: none;
}
